<!DOCTYPE html>
<html>
    <head>

    </head>
    <body onload="showtimes()">
        <p>
        {{#each imgs}}
            {{#each this}}
                <img width="{{tileWidth}}" height="{{tileHeight}}" src="{{this}}" />
            {{/each}}
            <br/>
        {{/each}}
        </p>
        <p id="time">Loading...</p>
        <script>
            function showtimes() {
                var times = 'Times from connection start:<br>';
                times += 'DOM loaded: ' + (window.performance.timing.domContentLoadedEventEnd - window.performance.timing.connectStart) + 'ms<br>';
                times += 'DOM complete (images loaded): ' + (window.performance.timing.domComplete - window.performance.timing.connectStart) + 'ms<br>';
                document.getElementById('time').innerHTML = times;
            }
        </script>
    </body>
</html>